header
  nav.navbar.navbar-expand-lg.navbar-dark.bg-transparent.p-0
    a.navbar-brand.mb-3(href='#') 
      img.logo(src="img/logo1x.png", alt="", srcset="")
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarSupportedContent.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item
          a.nav-link(href='#')
            | Haqqımızda 
            span.sr-only (current)
        li.nav-item.dropdown
          a#navbarDropdown.nav-link.dropdown-toggle(href='#', role='button', aria-haspopup='true', aria-expanded='false')
            | Məhsullarımız
          .dropdown-menu(aria-labelledby='navbarDropdown')
            a.dropdown-item.nav-link(href='#') Xəbərlər
            a.dropdown-item.nav-link(href='#') Video
        li.nav-item
          a.nav-link(href='#') Media
        li.nav-item
          a.nav-link(href='#') Əlaqə

      form.form-inline.my-2.my-lg-0
        .langs
          select
            option(value='0') AZ
            option(value='1') RU
            option(value='2') EN






