section
 .center-content
  .center-text#mybtn
    h1.center-text-word Gücümüz Öncelİğİmİz 
  .center-img 
    img(src='img/2.png') 
 .mainpage
 .black-cover
 .footer-btn
  .left-btn.my-btn
    h2.my-btn-word Endüstriel sİlİndİrler
  .right-btn.my-btn
    h2.my-btn-word İş makİnası sİlİndİrler

