section.items
  .products
    .product-backimage-right
    .up-line
      .circle
       img(src='img/a.png')
      .circle
       img(src='img/t.png')
      .circle
       img(src='img/1.png')
      .circle
       img(src='img/y.png')
    .down-line
      .circle
       img(src='img/4.png')
      .circle
       img(src='img/7.png')
      .circle
       img(src='img/3.png')
      .circle
       img(src='img/12.png') 
    .product-backimage-left
