section.media
  .media-story
    .up-line
      .box(type='button', data-toggle='modal', data-target='#exampleModalCenter')
        img(src='img/02.jpg')
        .box-text
          h3 2019 Bauma Müchen perfect
      .box(type='button', data-toggle='modal', data-target='#exampleModalCenter02')
        img(src='img/01.jpg')
        .box-text
          h3 2019 Bauma Müchen perfect
      .box(type='button', data-toggle='modal', data-target='#exampleModalCenter03')
        img(src='img/02.jpg')
        .box-text
          h3 2019 Bauma Müchen perfect
    .down-line
      .box(type='button', data-toggle='modal', data-target='#exampleModalCenter04')
        img(src='img/03.jpg')
        .box-text
          h3 2019 Bauma Müchen perfect
      .box(type='button', data-toggle='modal', data-target='#exampleModalCenter05')
        img(src='img/03.jpg')
        .box-text
          h3 2019 Bauma Müchen perfect
      .box(type='button', data-toggle='modal', data-target='#exampleModalCenter06')
        img(src='img/03.jpg')
        .box-text
          h3 2019 Bauma Müchen perfect
  .back-image
