@font-face {
    src: url("../fonts/San Francisco-Regular.otf");
    font-family: "SanFrancisco";
    font-weight: 400;
    }
    
    
@font-face {
    src: url("../fonts/San Francisco-Bold.otf");
    font-family: "SanFrancisco";
    font-weight: 700;
    }
    
    
    
@font-face {
    src: url("../fonts/San Francisco-Medium.otf");
    font-family: "SanFrancisco";
    font-weight: 500;
    }
    
@font-face {
    src: url("../fonts/San Francisco-Light.otf");
    font-family: "SanFrancisco";
    font-weight: lighter;
    }
    
    