section.media
  .media-story
    .up-line
      .box
        iframe(width='', height='', src='https://www.youtube.com/embed/36YnV9STBqc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .box-text
          h3 The Good Life Radio 
      .box
        iframe(width='', height='', src='https://www.youtube.com/embed/36YnV9STBqc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .box-text
          h3 • 24/7 Live Radio The Good Life is live
      .box
        iframe(width='', height='', src='https://www.youtube.com/embed/36YnV9STBqc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .box-text
          h3 • 24/7 Live Radio
    .down-line
      .box
        iframe(width='', height='', src='https://www.youtube.com/embed/36YnV9STBqc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .box-text
          h3 • 24/7 Live Radio The Good Life is live
      .box
        iframe(width='', height='', src='https://www.youtube.com/embed/36YnV9STBqc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .box-text
          h3 • 24/7 Live Radio
      .box
        iframe(width='', height='', src='https://www.youtube.com/embed/36YnV9STBqc', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .box-text
          h3 • 24/7 Live Radio
  .back-image
